.data-list{
  .content{
    padding: 0 56px;
    min-width: 800px;
    height: 100%;
    .divider{
      margin-top: 16px;
      margin-bottom:20px;
      border-color: rgba(174,189,216,0.2)
    }
  }
  .dialog{
    width: 920px;
    height: 424px;
    background: #232734;
    box-shadow: 0px 0px 24px 4px rgba(26,28,37,0.5);
    border-radius: 2px;
    display: flex;
    img{
      flex-grow: 1;
      height: 424px;
    }
    .details{
      width: 323px;
      padding: 10px;
      background: #232734;
      .title{
        font-size: 14px;
        padding: 8px 10px 8px 15px;
        font-weight: 600;
        color: #AEBDD8;
        line-height: 14px;
      }
      .hr{
        margin-top: 10px;
        margin-bottom: 18px;
        border-color: rgba(174,189,216,0.2);
      }
      .details-list{
        width: 100%;
        padding: 3px 15px;
        display: flex;
        justify-content: space-between;
        .font{
          font-size: 12px;
          font-weight: 400;
          color: #AEBDD8;
        }
      }
    }
  }
}
