.log{
  padding:0 56px;
  min-width: 800px;
  height: 100%;
  .divider{
    margin-top: 16px;
    margin-bottom:20px;
    border-color: rgba(174,189,216,0.2)
  }
  .form-bar{
    padding-top:15px;
    .icon{
      width: 16px;
      height: 16px;
    }
    .input-box{
      display: flex;
      align-items: center;
      .date{
        border:1px solid $w-40;
        border-radius: 2px;
      }
    }
    .btn-box{
      display: flex;
      justify-content: end;
      .btn-bar{
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 200px;
      }
    }
    .label{
      margin-right: 10px;
      display: flex;
      align-items: center;
      font-size: 14px;
      white-space:nowrap;
      .icon{
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
}