.container{
  width: 224px;
  height: 112px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AEBDD8;
  font-weight: 400;
  margin-right: 100px;
  border-radius: 4px;
  text-align: center;
  .title{
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    height: 26px;
    text-shadow: 0px 4px 4px rgba(26,28,37,0.5000);
  }
  .count{
    font-weight: bold;
    margin-top: 5px;
    font-size: 28px;
  }
}