// 最外层盒子
.DepartRolePrivileges {
    @include container;
    display: flex;
    flex-direction: column;

    // 面包屑
    .DeRolPriBra {
        background-color: aqua;
        margin-bottom: 20px;
    }

    // 内容区盒子
    .DeRolPriMain {
        background-color: #FFFFFF;
        padding: 20px;

        border-radius: 4px 4px 4px 4px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // 标题及权限列表盒子
        .DeRolPriMainTop {
            display: flex;
            flex-direction: column;
            flex: 1;

            // background-color: pink;
            // 标题盒子
            .DeRolPriMainTitle {
                // background-color: aquamarine;
                font-size: 16px;
                font-family: PingFang SC-Medium, PingFang SC;
                font-weight: 600;
                color: #333333;
                margin-bottom: 20px;
            }

            // 权限列表盒子
            .DeRolPriMainList {
                margin-left: 8px;
                flex: 1;
                // background-color: aliceblue;
                display: flex;
                flex-wrap: wrap;

                // 每一个树形结构的盒子
                .DeRolPriMainTree {
                    // background-color: red;
                    width: 30%;
                    display: flex;


                }

                // 第四N个树形结构的盒子
                .DeRolPriMainTree:nth-child(4n) {
                    // background-color: red;
                    width: 10%;
                    display: flex;
                    justify-content: end;

                }
            }
        }

        // 底部盒子
        .DeRolPriMainFooter {
            height: 66px;
            padding-top: 10px;
            background-color: yellow;
            display: flex;
            justify-content: end;
            align-items: center;
            border-top: 1px solid #E5E6EB;

            //   底部按钮
            .DeRolPriMainBut {
                height: 32px;
                background-color: #165DFF;
                font-size: 14px;
                font-family: PingFang SC-Regular, PingFang SC;
                font-weight: 400;
                color: #FFFFFF;
            }
        }
    }
}