// 首次登录提示用户修改密码遮罩层
.messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    
    // 中间提示信息盒子
    .modalBox {
        width: 343px;
        height: 223px;
        background: #FFFFFF;
        border: 0;
        border-radius: 4px 4px 4px 4px;
        padding: 30px 16px 27px 20px;

        // 弹窗标题
        .modalTitle {
            // background: red;
            height: 22px;
            font-size: 16px;
            font-family: PingFang SC-Medium, PingFang SC;
            font-weight: 500;
            color: #333333;
            line-height: 22px;
            margin-bottom: 30px;
        }

        // 弹窗内容
        .modalMain {
            // background: blue;
            font-size: 14px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            margin-bottom: 40px;
        }

        // 弹窗按钮盒子
        .modalButton {
            // background: pink;
            display: flex;
            justify-content: end;
            height: 32px;
            font-size: 14px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;

            // 取消按钮
            .noButton {
                line-height: 24px;
                text-align: center;
                background: #F2F3F5;
                color: #666666;
                border-radius: 2px 2px 2px 2px;
                margin-right: 10px;
               
            }
 // 确定修改按钮
            .okButton {
                line-height: 24px;
                text-align: center;
                background: #165DFF;
                border-radius: 2px 2px 2px 2px;      
                color: #FFFFFF;

            }
        }
    }
}