.boxTitle {

    display: flex;
 

    .boxText {
        margin-bottom: 34px;
        font-size: 24px;
        font-family: PingFang SC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 28px;


    }

    .boxIcon {
        width: 14px;
        height: 14px;
        opacity: 1;
        margin-top: 5px;
        cursor: pointer
    }
}

// 表单盒子
.postBox {
    margin-left: 8px;
    box-sizing: border-box;
// 登陆账号盒子
    .accBox {
        display: flex;
        margin-bottom: 29px;
        box-sizing: border-box;

        .accountText {
            height: 28px;
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 28px;
            text-align: left;
            margin-right: 26px;

        }
    }



// 输入新密码盒子
    .nameBox {
        display: flex;
        margin-bottom: 27px;
        box-sizing: border-box;

        .nameText {

            height: 38px;
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 38px;
            text-align: left;
            margin-right: 7px;



        }

        input {
            width: 402px;
            height: 38px;
            border-radius: 8px 8px 8px 8px;
            opacity: 1;
            padding: 0;
            border: 1px solid #E0E2E4;
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            line-height: 21px;
            text-align: left;
            padding-left: 12px;
            box-sizing: border-box;
            
          
        }
       
    }
// 手机验证码盒子
    .telBox {
        display: flex;
        margin-bottom: 27px;
        box-sizing: border-box;

        .telText {

            height: 38px;
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 38px;
            text-align: left;
            margin-right: 7px;



        }

        input {
            width: 316px;
            height: 38px;
            border-radius: 8px 0 0 8px;
            opacity: 1;
            padding: 0;
            border: 1px solid #E0E2E4;
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            line-height: 21px;
            text-align: left;
            padding-left: 12px;
            box-sizing: border-box;
            
          
        }
        .getCodeBox{
            box-sizing: border-box;
width:86px ;
height: 38px;
background: #165DFF;
opacity: 1;
border-radius: 0 8px 8px 0;
font-size: 18px;
font-family: PingFang SC-Regular, PingFang SC;
font-weight: 400;
color: #FFFFFF;
        }
       
    }




// 确认密码盒子
    .PassBox {
        display: flex;
      
        box-sizing: border-box;
        
       
        .PassText {

            height: 38px;
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 38px;
            text-align: left;
            margin-right: 26px;
        }

        input {
            width: 402px;
            height: 38px;
            border-radius: 8px 8px 8px 8px;
            opacity: 1;
            padding: 0;
            border: 1px solid #E0E2E4;
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            line-height: 21px;
            text-align: left;
            padding-left: 12px;
            box-sizing: border-box;
        }
    }

}



// 按钮盒子
.buttonBox {
    margin-left: 8px;

    .okButton {
        width: 68px;
        background: #165DFF;
        opacity: 0.3;
        height: 33px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 21px;
        text-align: center;
        border-radius: 8px 8px 8px 8px;
        cursor: pointer;


    }

    .okButton:hover {
        background-color: rgb(24, 24, 190);
    }

    .noButton {
        width: 68px;
        background: #FFFFFF;
        opacity: 1;
        height: 33px;
        font-size: 18px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        margin-right: 10px;
        line-height: 21px;
        text-align: center;
        border-radius: 8px 8px 8px 8px;
        color: #333333;
        cursor: pointer;
        border: 1px solid #E0E2E4;
    }

}

.kindValue {


    height: 25px;
    font-size: 18px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 25px;


}