
.layout{
  display: flex;
  .main{
    position: relative;
    flex-grow: 1; 
  
    min-height: 100%;
   background-color: #F7F8FA;
   
  }

  .visible{
    opacity: 1;
  }
  
  .hidden{
    opacity: 0;
  }
  
}