// table盒子
.accountTableBox {
    padding: 0px;

    font-size: 14px;
    box-sizing: border-box;
  
  }
  
  .accountTableBox td {
  
    padding: 9px 16px !important;
  
  }
  
  .accountTableBox th {
  
    padding: 9px 16px !important;
  
  }
  
  .accountTableOutBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  
    .accountTableButtonBox {
      display: flex;
      justify-content: center;
  
      .accountTableButtonSel {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        width:65px;
  
        .accountTableButtonSelLength {
          color: #165DFF;
       
        }
      }
  
      .accountTableDelBut {
        width: 60px;
  
        height: 30px;
        font-size: 14px;
        text-align: center;
        border-radius: 2px 2px 2px 2px;
        border: 1px solid #E0E2E4;
        margin-left: 32px;
        margin-right: 30px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
      }
  
      .accountTableOutBut {
        width: 60px;
        background: #165DFF;
        height: 30px;
        font-size: 14px;
        text-align: center;
        border-radius: 2px 2px 2px 2px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
  
  
      }
  
    }
  
  }
  
  .ant-select {
    .ant-select-selector {
  
      background: #F2F3F5 !important
    }
  }