.icon{width: 16px;height: 16px;}
.table{
  margin-top: 5;
  box-shadow: 0px 2px 4px 0px rgba(26,28,37,0.5) !important;
  // box-shadow: none;
  border-radius: 2px;
  max-height: 700px;
  overflow: auto;
  .table-footer{
    background: #3B4154;
    height: 44px;
    padding: 10px 16px 10px 10px;
    .table-footer-box{
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .count{
      font-size: 12px;
      font-weight: 300;
      color: #AEBDD8;
      opacity: 0.6
    }
    .pagination{
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #AEBDD8;
      opacity: 0.6;
    }
  }
  .table-header{
    height: 44px;
    background: #474F63;
    border-radius: 2px 2px 0px 0px;
    .table-cell{
      font-size: 14px !important
    }
  }
  .table-body{
    height: 44px;
    background:#3B4154;
    position: relative;
    .second-table{
      .collapse-box{
        margin-left: 58px;
        margin-right: 53px;
        background: #2E3343;
      }
    }
    .height-24{
      min-height: 24px;
      line-height: 24px;
    }
    .body-row{
      &:hover{
        background: #2E3343;
        .btn{
          color:#fff
        }

        // 用于悬浮后标签的颜色变化
        .active{
          background:#464F63 !important;
          .triangle{
            border-color: transparent #707B91 transparent transparent !important;
          }
        }
      };
      .btn{
        font-size: 12px;
        &:hover{
          background: none;
        }
      }
    }
  }
}




//弹出层框样式
.popover-content{
  padding: 8px;
  display: flex;
  .info{
    margin-right: 26px;
    font-weight: 400;
    position: relative;
    .name{
      font-size: 13px;
    }
    .id{
      font-size: 12px;
      color: rgba(255,255,255,0.67);
    }
  }
  .download{
    display: flex;
    align-items: center;
    cursor: pointer;
    .font{
      margin-left: 4px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}


// 空状态样式
.empty{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  span{
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
  }
}