
@mixin itemText{
  margin-left: 8px;
  color: #666666;
  font-size: 18px;
}

.menu{
  overflow: auto;
  .menuList{
    .list-item{
      display: flex;
      padding: 8px 16px;

    }
    .item-text{
       @include itemText;

    }
    .icon{
      width: 20px;
      height: 20px;
      color:#666666;
    }
    // 一级路由使用
    .active{
      >div{
          color: #2E6EDF
      }
      .item-text{
        color: #2E6EDF
      }
      .icon{
        color:#2E6EDF
      }
    }
    // 二级路由使用
    .item{
      .item-text{
        @include itemText;
     }
     .second-text{
      margin-left: 8px; 
      font-size: 16px
     }
    a{
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      &:hover{
        cursor: pointer;
      }
      width: 100%;
    }
    .btn{
      margin-left: 15px;
    }

    >.active{
      .btn{
        color: #2E6EDF ;
      }
    }
  }  

    a{
      color: $w-40;
      text-decoration: none;
      width: 100%;
    }
  }

  .MuiListItemText-root {
    .MuiTypography-root{
      font-size: 14px;
    }
  }
}



