.order_search-container {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px 0 20px 20px;

  .from-item {
    // display: flex;
    // align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;

    .label {
      margin-right: 16px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      overflow: hidden;
      white-space: nowrap;
      color: #666666;

      .icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
    }

    .data-box {
      border-radius: 2px;
      background: #232734;
      opacity: 0.6;
      display: flex;
      align-items: center;
    }

    .btn {
      height: 32px;
      padding: 9px 16px !important;
      background: #f2f3f5 !important;
      border-radius: 2px !important;
      color: #666666 !important;

      &:hover {
        background: #f2f3f5 !important
      }
    }
  }

  .btn-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    // max-width: 270px;
    .icon {
      width: 14px;
      height: 14px;
    }
  }
}