.system-container{
  padding: 0 56px;
  min-width: 800px;
  height: 100%;
  min-height: 800px;
  .divider{
    margin-top: 16px;
    margin-bottom:20px;
    border-color: rgba(174,189,216,0.2)
  }
}


/* 内容框 */
@mixin  containerBox(){
  margin:  20px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 4px;
}
