

.MuiPickersModal-dialogRoot{
  .MuiPickersToolbar-toolbar{
    background-color:#2E6EDF
  }

  // /* 左右截图背景 */
  // .MuiPickersCalendarHeader-iconButton{
  //   background-color: transparent;
  //   .MuiIconButton-label{
  //     color:#fff
  //   }
  // }
  /* 选中日期背景色 */
  .MuiPickersDay-daySelected{
    background-color:#2E6EDF;
    // color:#333333 !important;
    // border-radius: 2px;
    // &:hover{
      // background-color:#829fd3;
    // }
  }
  // /* 星期栏样式 */
  // .MuiPickersCalendarHeader-dayLabel{
  //   color: #FFFFFF;
  // }
  // /* 禁用日的样式 */
  // .MuiPickersDay-dayDisabled{
  //   color: #FFFFFF;
  //   opacity: 0.25;
  // }
  /* 日的基本样式 */
  .MuiPickersDay-day{
    // color: #FFFFFF;
    border-radius: 2px;
  }
  // /* 日选中的日期样式 */
  // .MuiPickersDay-current{
  //   color: #AEBDD8;
  // }
  // /* 年选中的日期样式 */
  // .MuiTypography-colorPrimary{
  //   color: #96acd4;
  // }
}

/* 按钮 */
.date_btn{
  color: #fff !important;
  background: #2E6EDF !important;
  padding: 0 30px !important;
  height: 28px !important;
  font-size: 12px !important;
  letter-spacing: 2px !important;
}

.date_cancel_btn{
  color: #2E6EDF;
  letter-spacing: 2px;
  &:hover{
    opacity: 0.8;
  }
}