.departRoleTableBox{

    padding: 0px;
   height: 100%;
    font-size: 14px;
    box-sizing: border-box;
   
    td {

        padding: 9px 16px !important;
      

      }
      th {
        background: #F2F3F5;
        padding: 9px 16px !important;
        margin-bottom: 0px !important;
      
      }
   

}